* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-primary: #6c63ff;
    --color-sucess: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --trasintion: all 400ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white)
}

/* ================= NAV BAR ==================== */

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* ==== muda o estilo de navegação usando js ====== */
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* ========== fim muda estilo navbar ============= */

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--trasintion);
}

.nav__menu a:hover {
    color: var(--color-bg2)
}

/* ================= HEADER ================== */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}

/* ============  SECTION CATEGORIA  ============= */
.categoria {
    background: var(--color-bg1);
    height: 29rem;
}

.categoria h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categoria__container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categoria__left {
    margin-right: 4rem;
}

.categoria__left p {
    margin: 1rem 0 3rem;
}

.categoria__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.card__categoria {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--trasintion);
}

.card__categoria:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.card__categoria:nth-child(2) .categoria__icon {
    background: var(--color-danger);
}

.card__categoria:nth-child(3) .categoria__icon {
    background: var(--color-sucess);
}

.card__categoria:nth-child(4) .categoria__icon {
    background: var(--color-warning);
}

.card__categoria:nth-child(5) .categoria__icon {
    background: var(--color-sucess);
}

.categoria__icon {
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 00.9rem;
}

.categoria h5 {
    margin: 2rem 0 1rem;
}

.categoria p {
    font-size: 0.85rem;
}

/*============= SECTION CURSOS ===============*/

.cursos {
    margin-top: 15rem;
}

.cursos__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.curso {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
}

.curso:hover {
    border: 1px solid transparent;
    background: var(--color-primary);
    transition: var(--trasintion);
}

.curso__info {
    padding: 2rem;
}

.curso__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/* =============== SECTION FAQS ============== */

.faqs {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.3);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
}

/* ============ SECTION TESTEMUNHAS ============ */

.testemunhas__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
    z-index: 0;
}

.testemunhas {
    padding-top: 2rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1)
}

.testemunhas__info {
    text-align: center;
}

.testemunhas__body {
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.testemunhas__body::before {
    content: "";
    display: block;
    background: linear-gradient(135deg,
            transparent,
            var(--color-primary),
            var(--color-primary),
            var(--color-primary));
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: -1rem;
    transform: rotate(45deg);
}

/* ================= FOOTER =================== */

footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer__container>div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p {
    margin: 1rem 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}

/* ================================================ */
/* ============ MEDIA QUERIES (TABLETS) =========== */
/* ================================================ */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md)
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* ============= NAVBAR (TABLETS) ============ */

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: animationNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 300ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 500ms;
    }

    @keyframes animationNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;

        }
    }

    .nav__menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;

    }

    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white)
    }

    /* ============== HEADER (TABLETS) ============== */
    header {
        height: 52vh;
        margin-bottom: 3rem;
    }

    .header__container {
        gap: 0;
        padding-bottom: 3rem;
    }

    .categoria {
        height: auto;
    }

    .categoria__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categoria__left {
        margin-right: 0;
    }

    /* ========== SECTION CURSOS (TABLETS) ============ */

    .cursos {
        margin-top: 0;
    }

    .cursos__container {
        grid-template-columns: 1fr 1fr;
    }


    /* ============  SECTION FAQS (TABLETS) =========== */
    .faqs__container {
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }

    /* ============== FOOTER (TABLETS) ================ */

    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}

/* ================================================ */
/* ============ MEDIA QUERIES (PHONES) ============ */
/* ================================================ */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm)
    }

    /* ================= NAVBAR (PHONES) ============== */
    .nav__menu {
        right: 3%;
        display: none;
    }

    /* ================= HEADER (PHONES) ===============*/
    header {
        height: 100vh;
    }

    .header__container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header__left p {
        margin-bottom: 1.3rem;
    }

    /* ========== SECTION CATEGORIAS (PHONES) =========*/
    .categoria {
        padding: 1rem;
        border-radius: 1rem;
    }

    .categoria__right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .categoria__icon {
        margin-top: 4px;
        display: inline-block;
    }

    /* ========== SECTION CURSOS (PHONES) ============*/
    .cursos__container {
        grid-template-columns: 1fr;
    }

    /* ======== SECTION TESTEMUNHAS (PHONES) =========*/
    .testemunhas__body {
        padding: 1.2rem;
    }

    /* ================ FOOTER (PHONES) ==============*/
    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1 p {
        margin: 1rem auto;
    }

    .footer__socials {
        justify-content: center;
    }
}