* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-primary: #6c63ff;
    --color-sucess: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --trasintion: all 400ms ease;
}


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);

}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    line-height: 1.2;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white)
}



/* ================= NAV BAR ==================== */

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}


/*====== muda o estilo de navegação usando js ========*/
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* ============fim muda estilo navbar =================*/

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--trasintion);
}

.nav__menu a:hover {
    color: var(--color-bg2)
}

/* ================= HEADER ==================== */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}

/* ================= CATEGORIA SECTION ==================== */
.categoria {
    background: var(--color-bg1);
    height: 29rem;
}

.categoria h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categoria__container {
    display: grid;
    grid-template-columns:  40% 60%;
}

.categoria__left {
    margin-right: 4rem;
}

.categoria__left p {
    margin: 1rem 0 3rem;
}

.categoria__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.card__categoria {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--trasintion);
}

.card__categoria:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.card__categoria:nth-child(2) .categoria__icon {
    background: var(--color-danger);
}

.card__categoria:nth-child(3) .categoria__icon {
    background: var(--color-sucess);
}

.card__categoria:nth-child(4) .categoria__icon {
    background: var(--color-warning);
}

.card__categoria:nth-child(5) .categoria__icon {
    background: var(--color-sucess);
}

.categoria__icon {
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 00.9rem;
}

.categoria h5 {
    margin: 2rem 0 1rem;
}

.categoria p {
    font-size: 0.85rem;
}

/*==================== CURSOS SECTION ======================*/

.cursos {
    margin-top: 10rem;
}

.cursos__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.curso {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
}

.curso:hover {
    border: 1px solid transparent;
    background: var(--color-primary);
    transition: var(--trasintion);
}

.curso__info {
    padding: 2rem;    
}

.curso__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}
